#business-calendar {
  background-color: #ffffff;
  margin: 1em;
  padding: 1.25em;
  border-radius: 5px;
}

#business-calendar table thead tr th {
  text-align: center;
  background-color: #0000ff;
  color: #ffffff;
}

#business-calendar table tbody tr td {
  text-align: center;
  padding: 0.1em !important;
}

#business-calendar table tbody tr td.vertical-align-td {
  text-align: center;
  color: blue;
  vertical-align: middle;
  border: 1px solid #000000;
}

#business-calendar table tbody tr td.border-black-td {
  border: 1px solid #000000;
}

#business-calendar table tbody tr td.border-bottom-black-td {
  border-bottom: 1px solid #000000;
}

#business-calendar table tbody tr td table.deep-2-table {
  width: 100%;
}

#business-calendar table tbody tr td table.deep-2-table.item-table {
  border-bottom: 1px solid #000000;
}

#business-calendar table tbody tr td table tr td table.deep-3-table {
  margin: .02em !important;
}

#business-calendar table tbody tr td table tr td table.deep-3-table td.border-black-1-td {
  border-top: 1px solid #737476;
  border-left: 1px solid #737476;
  border-right: 1px solid #737476;
}

#business-calendar table tbody tr td table tr td table.deep-3-table td.border-black-2-td {
  border-left: 1px solid #737476;
  border-right: 1px solid #737476;
}

#business-calendar table tbody tr td table tr td table.deep-3-table td.border-black-3-td {
  border-left: 1px solid #737476;
  border-right: 1px solid #737476;
}

#business-calendar table tbody tr td table tr td table.deep-3-table td.border-black-4-td {
  border-left: 1px solid #737476;
  border-right: 1px solid #737476;
  border-bottom: 1px solid #737476;
}

#business-calendar table tbody tr td table tr td table.deep-3-table td input {
  border: none;
  padding: 0px;
}

#business-calendar table tbody tr td table tr td table.deep-3-table td select {
  border: none;
  padding: 1px 0;
}

#business-calendar table tbody tr td table tr td table.deep-3-table.label-table td {
  border: 1px solid #000000;
  background-color: #969696;
  color: #ffffff;
}

#business-calendar table tbody tr td table tr td table.deep-3-table.label-table td input {
  background-color: #969696;
  color: #ffffff;
  border: none;
  padding: 0px;
  text-align: center;
}

div.order_grid {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
}

div.up {
  width: 75px;
  padding: 3px;
  border: 1px solid;
  cursor: pointer;
}

div.up:hover {
  width: 75px;
  padding: 3px;
  border: 1px solid;
  cursor: pointer;
  background-color: #2a2a2a;
  color: #FFFFFF;
}

div.down {
  width: 75px;
  padding: 3px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  cursor: pointer;
}

div.down:hover {
  width: 75px;
  padding: 3px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  cursor: pointer;
  background-color: #2a2a2a;
  color: #FFFFFF;
}

.check_green_color {
  color: #ccffcc;
  background-color: #ccffcc;
  padding: 0 4px;
  margin-right: 4px;
}

.check_pink_color {
  color: #ff99cc;
  background-color: #ff99cc;
  padding: 0 4px;
  margin-right: 4px;
}