// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$border-style-1px-black: 1px solid #000000;
$border-style-1px-grey: 1px solid #737476;
$border-style-1px-yellow: 1px solid #ffcc00;
#business-calendar {
  background-color: #ffffff;
  margin: 1em;
  padding: 1.25em;
  border-radius: 5px;

  table {

    thead {
      tr {
        th {
          text-align: center;
          background-color: #000080;
          color: #ffffff;
        }
      }
    }

    tbody {
      tr {
        td {
          text-align: center;
          padding: 0.1em !important;

          &.vertical-align-td {
            text-align: center;
            color: #000080;
            vertical-align: middle;
            border: $border-style-1px-black;
          }

          &.border-black-td {
            border: $border-style-1px-black;
          }

          &.border-bottom-black-td {
            border-bottom: $border-style-1px-black;
          }

          table {
            &.deep-2-table {
              width: 100%;
            }

            &.deep-2-table.item-table {
              border-bottom: $border-style-1px-black;
            }

            tr {
              td {
                table {
                  &.deep-3-table {
                    margin: .02em !important;

                    td {
                      &.border-black-td {
                        border: $border-style-1px-grey;
                      }
                      &.border-black-1-td {
                        border-top: $border-style-1px-grey;
                        border-left: $border-style-1px-grey;
                        border-right: $border-style-1px-grey;
                      }
                      &.border-black-2-td {
                        border-left: $border-style-1px-grey;
                        border-right: $border-style-1px-grey;
                      }
                      &.border-black-3-td {
                        border-left: $border-style-1px-grey;
                        border-right: $border-style-1px-grey;
                      }
                      &.border-black-4-td {
                        border-left: $border-style-1px-grey;
                        border-right: $border-style-1px-grey;
                        border-bottom: $border-style-1px-grey;
                      }

                      input {
                        border: none;
                        padding: 0px;
                      }

                      select {
                        border: none;
                        padding: 1px 0;
                      }
                    }
                  }
                  &.deep-3-table.label-table {
                    td {
                      border: 1px solid #000000;
                      background-color: #969696;
                      color: #ffffff;

                      input {
                        background-color: #969696;
                        color: #ffffff;
                        border: none;
                        padding: 0px;
                        text-align: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

div {
  &.order_grid {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
  }
  &.up {
    width:75px;
    padding: 3px;
    border: 1px solid;
    cursor: pointer;
  }
  &.up:hover {
    width:75px;
    padding: 3px;
    border: 1px solid;
    cursor: pointer;
    background-color: #2a2a2a;
    color: #FFFFFF;
  }
  &.down {
    width:75px;
    padding: 3px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    cursor: pointer;
  }
  &.down:hover {
    width:75px;
    padding: 3px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    cursor: pointer;
    background-color: #2a2a2a;
    color: #FFFFFF;
  }
}
.check_green_color {
  color: #ccffcc;
  background-color: #ccffcc;
  padding: 0 4px;
  margin-right: 4px;
}
.check_pink_color {
  color: #ff99cc;
  background-color: #ff99cc;
  padding: 0 4px;
  margin-right: 4px;
}

#search {
  .search-form {
    margin: .8em .2em;
    input[type="text"] {
      padding: .5em .3em;
      margin: .3em 0;
      width: 60%;
      font-size: 1em;
      outline: none;
      border: 1px solid #000080;
      border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      background: 347px 13px #eee;
      font-family: 'Raleway', sans-serif;
    }
    input[type="text"][name="endDate"] {
      padding: .5em .3em;
      margin: .3em 0;
      width: 100%;
      font-size: 1em;
      outline: none;
      border: 1px solid #000080;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      background: 347px 13px #eee;
      font-family: 'Raleway', sans-serif;
    }
    select {
      padding: .56em .3em;
      margin: .3em 0;
      width: 60%;
      font-size: 1em;
      outline: none;
      border: 1px solid #000080;
      border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      background: 347px 13px #eee;
      font-family: 'Raleway', sans-serif;
    }
    input[type="submit"] {
      padding: .56em .3em;
      margin: .3em 0;
      width: 100%;
      font-size: 1em;
      outline: none;
      border: 1px solid #2a2a2a;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      background: 347px 13px #c0c0c0;
      font-family: 'Raleway', sans-serif;
    }
    a.custom-label {
      float: left;
      width: 40%;
      font-size: 1em;
      text-decoration: none !important;
      cursor: default;
      padding: .5em .3em;
      margin: .3em 0;
      border: 1px solid #000080;
      color: #fff !important;
      border-radius: 4px 0 0 4px;
      background: #000080;
      text-align: center;
    }
  }
}

// Construction Calendar

#construction-calendar {
  background-color: #ffffff;
  margin: 1em;
  padding: 1.25em;
  border-radius: 5px;

  table {

    thead {
      tr {
        th {
          font-size: .8em;
          text-align: center;
          background-color: #000080;
          color: #ffffff;
        }
      }
    }

    tbody {
      tr {
        td {
          text-align: center;
          padding: 0.1em !important;

          &.vertical-align-td {
            text-align: center;
            color: #000080;
            vertical-align: middle;
            border: $border-style-1px-black;
          }

          &.border-black-td {
            border: $border-style-1px-black;
          }

          &.border-bottom-black-td {
            border-bottom: $border-style-1px-black;
          }

          table {
            &.deep-3-table {
              margin: .02em !important;

              td {
                &.border-black-1-td {
                  border-top: $border-style-1px-grey;
                  border-left: $border-style-1px-grey;
                  border-right: $border-style-1px-grey;
                }
                &.border-black-2-td {
                  border-left: $border-style-1px-grey;
                  border-right: $border-style-1px-grey;
                }
                &.border-black-3-td {
                  border-left: $border-style-1px-grey;
                  border-right: $border-style-1px-grey;
                  border-bottom: $border-style-1px-grey;
                }

                input {
                  border: none;
                  padding: 0px;
                }

                select {
                  border: none;
                  padding: 1px 0;
                }
              }
            }
            &.deep-3-table.label-table {
              td {
                border: 1px solid #000000;
                background-color: #969696;
                color: #ffffff;

                input {
                  background-color: #969696;
                  color: #ffffff;
                  border: none;
                  padding: 0px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}