/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start editing from here */

a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

/* text align right */

.txt-lt {
  text-align: left;
}

/* text align left */

.txt-center {
  text-align: center;
}

/* text align center */

.float-rt {
  float: right;
}

/* float right */

.float-lt {
  float: left;
}

/* float left */

.clear {
  clear: both;
}

/* clear float */

.pos-relative {
  position: relative;
}

/* Position Relative */

.pos-absolute {
  position: absolute;
}

/* Position Absolute */

.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
  vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
  display: block;
}

/* vertical menu */

nav.horizontal ul li {
  display: inline-block;
}

/* horizontal menu */

img {
  max-width: 100%;
}

/*end reset*/

body {
  font-family: 'Raleway', sans-serif;
  background: url(../images/images.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}

.header {
  text-align: center;
  margin-top: 4em;
}

.header h1 {
  font-size: 2.5em;
  color: #fff;
}

.mail-section {
  width: 40%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin: 5em auto 0;
  background: #696F6F;
  padding: 3em 3em 3em 1em;
  position: relative;
  border: 3px solid #fff;
}

.mail-image {
  float: left;
  width: 29%;
  margin-right: 2%;
  text-align: center;
}

.mail-form {
  float: left;
  width: 56%;
  background: #fff;
  padding: 2em 3em 2em 2em;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-align: center;
}

.mail-image h3 {
  font-size: 1.2em;
  color: #fff;
}

.mail-image h2 {
  font-size: 1.5em;
  color: #fff;
  margin-top: .5em;
}

.pass {
  margin: 1.5em 0;
}

.close {
  background: url('../images/close.png') no-repeat 0px 0px;
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 18px;
  top: 12px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  width: 30px;
}

.newsletter-form {
  padding-top: 1.5em;
}

.mail-form input[type="text"] {
  padding: .8em .5em;
  width: 100%;
  font-size: 1em;
  outline: none;
  border: 1px solid #696F6F;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: url(../images/user.png) no-repeat 347px 13px #eee;
  font-family: 'Raleway', sans-serif;
}

.mail-form input[type="password"] {
  padding: .8em .5em;
  width: 100%;
  font-size: 1em;
  outline: none;
  border: 1px solid #696F6F;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: url(../images/lock.png) no-repeat 347px 13px #eee;
  font-family: 'Raleway', sans-serif;
}

.mail-form input[type="submit"] {
  font-size: 1.3em;
  padding: .5em .3em;
  width: 35%;
  border: none;
  text-transform: capitalize;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #696F6F;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.mail-form a p {
  font-size: .95em;
  text-transform: capitalize;
  color: #9C9EA0;
  margin-top: 1em;
}

.footer {
  text-align: center;
  padding: 3em 0;
}

.footer p {
  font-size: .9em;
  color: #fff;
  margin: 0px;
}

.footer p a:hover {
  color: #fff;
}

.footer p a {
  color: #fff;
}

/**
 * Buttons
 */

.button-large {
  padding: 10px 105px;
  background: white;
  border: solid 1px #51524c;
  color: #51524c;
  font-size: 1.275em;
  font-weight: bold;
  transition: ease 2s;
}

.button-large:hover {
  padding: 10px 155px;
  background: #51524c;
  border: solid 1px white;
  color: white;
  font-size: 1.275em;
  font-weight: bold;
  transition: ease 2s;
}

.button-middle {
  padding: 8px 35px;
  background: #333736;
  border: solid 1px #c5c7c9;
  color: #c5c7c9;
  font-size: 0.825em;
  font-weight: bold;
  transition: ease 2s;
}

.button-middle:hover {
  padding: 8px 65px;
  background: #c5c7c9;
  border: solid 1px #333736;
  color: #333736;
  font-size: 0.825em;
  font-weight: bold;
  transition: ease 2s;
}

/**
 * Sections
 */

.button-section-min {
  margin: 40px;
}

.button-section-middle {
  margin: 70px 0px 30px 0px;
}

.mail-section.content-section {
  text-align: center;
}

/*Register*/

.register-section {
  width: 30%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin: 5em auto 2em 2em;
  background: #757d72;
  padding: 3em 3em 3em 3em;
  position: relative;
  border: 1px solid #fff;
  float: left;
}

.register-section .part-header {
  letter-spacing: 0.5em;
  color: black;
  font-size: 1.25em;
  font-weight: bold;
}

.register-form {
  float: left;
  width: 100%;
  background: #fff;
  padding: 2em 3em 2em 2em;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-align: center;
  border: 1px solid #000;
}

.register-form input[type="text"] {
  padding: .8em .5em;
  margin: .6em 0;
  width: 70%;
  font-size: 1em;
  outline: none;
  border: 1px solid #696F6F;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  background: 347px 13px #eee;
  font-family: 'Raleway', sans-serif;
}

.register-form input[type="password"] {
  padding: .8em .5em;
  margin: .6em 0;
  width: 70%;
  font-size: 1em;
  outline: none;
  border: 1px solid #696F6F;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  background: 347px 13px #eee;
  font-family: 'Raleway', sans-serif;
}

.register-form input[type="checkbox"] {
  width: 20px;
  float: left;
}

.register-form .checkbox-label {
  margin: auto 15px 20px;
  float: left;
}

.register-form input[type="submit"] {
  font-size: 1.3em;
  padding: .5em .3em;
  width: 35%;
  border: none;
  text-transform: capitalize;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #757d72;
  color: #fff;
  cursor: pointer;
  margin: 0 30%;
  font-family: 'Raleway', sans-serif;
  transition: ease 1s;
}

a.custom-label {
  float: left;
  width: 30%;
  font-size: 1em;
  text-decoration: none !important;
  cursor: default;
  padding: .8em .5em;
  margin: .6em 0;
  border: 1px solid #696F6F;
  color: #fff !important;
  border-radius: 4px 0 0 4px;
  background: #757d72;
}

.custom-input-group {
  display: table;
  width: 100%;
}

/*Show*/

.show-section {
  width: 60%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin: 5em 2em 2em auto;
  background: #fff;
  padding: 3em 3em 3em 3em;
  position: relative;
  border: 1px solid #fff;
  float: right;
}

.show-section .part-header {
  letter-spacing: 0.5em;
  color: black;
  font-size: 1.25em;
  font-weight: bold;
}

/*tbody scrolling*/

thead,
tbody,
tr,
td,
th {
  display: block;
}

thead {
  background: #757d72;
  color: white;
  height: 30px;
  overflow-y: auto;
}

thead th {
  text-align: center;
  font-weight: 600;
}

tbody {
  background: #c2c6c7;
  height: 400px;
  overflow-y: scroll;
}

tbody td,
thead th {
  float: left;
}

tbody tr:hover {
  color: #ff7500;
}

/*tbody scrolling end*/

td.td-permission-cell {
  text-align: center;
  cursor: pointer;
}

td.td-edit-cell {
  text-align: center;
  color: #657883;
  cursor: pointer;
  transition: ease 1s;
}

td.td-edit-cell:hover {
  text-align: center;
  color: #239b8e;
  cursor: pointer;
  transition: ease 1s;
}

td.td-remove-cell {
  text-align: center;
  color: #383c3b;
  cursor: pointer;
  transition: ease 1s;
}

td.td-remove-cell:hover {
  text-align: center;
  color: #ee684d;
  cursor: pointer;
  transition: ease 1s;
}

/*menu*/

.menu-container {
  text-align: center;
  margin-top: 30px;
}

.menu-container li {
  display: inline;
}

.menu-container li a {
  background: black;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  padding: 10px 20px;
  color: white;
}

.menu-container li a:hover {
  background: orange;
  color: #0000ff;
}

/**
 * Errors
 */

.error {
  color: #dd5a50;
  font-size: 0.85em;
  margin: 0px 0px 10px 0px;
  font-weight: 700;
}

/**
 * Fonts
 */

.basic-header {
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  letter-spacing: 30px;
}

.header .basic-top h1 {
  letter-spacing: 100px;
}

.header {
  margin-left: 4em;
}

/**responsive**/

@media (max-width:1450px) {
  a.custom-label {
    font-size: .75em;
  }

  .register-form input[type="text"] {
    font-size: .75em;
  }

  .register-form input[type="password"] {
    font-size: .75em;
  }

  .register-form input[type="submit"] {
    font-size: .75em;
  }
}

@media (max-width:1440px) {
  .mail-section {
    width: 44%;
  }

  .register-section {
    float: left;
  }
}

@media (max-width: 1366px) {
  .mail-section {
    width: 47%;
  }
}

@media (max-width: 1280px) {
  .mail-section {
    width: 50%;
  }

  .mail-form input[type="text"] {
    background: url(../images/user.png) no-repeat 344px 13px #eee;
  }

  .mail-form input[type="password"] {
    background: url(../images/lock.png) no-repeat 344px 13px #eee;
  }

  a.custom-label {
    font-size: .6em;
  }

  .register-form input[type="text"] {
    font-size: .6em;
  }

  .register-form input[type="password"] {
    font-size: .6em;
  }

  .register-form input[type="submit"] {
    font-size: .6em;
  }

  .register-section {
    margin: 5em auto 2em 2em;
    padding: 2em 1em 2em 1em;
  }
}

@media (max-width: 1080px) {
  .mail-section {
    width: 62%;
  }

  .header {
    margin-top: 5em;
  }

  .header h1 {
    font-size: 2.2em;
  }

  .mail-form input[type="submit"] {
    font-size: 1.2em;
  }
}

@media (max-width: 991px) {
  .header {
    margin-top: 4em;
  }

  .mail-section {
    width: 82%;
    margin: 4em auto 0;
  }

  .mail-form input[type="text"],
  .mail-form input[type="password"] {
    font-size: .95em;
  }
}

@media (max-width: 900px) {
  .register-section {
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin: 15px 15%;
    background: #757d72;
    padding: 2em 2em 2em 2em;
    position: relative;
    border: 1px solid #fff;
  }

  .show-section {
    width: 90%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin: 15px 5%;
    background: #fff;
    padding: 2em 2em 2em 2em;
    position: relative;
    border: 1px solid #fff;
  }

  a.custom-label {
    font-size: 1em;
  }

  .register-form input[type="text"] {
    font-size: 1em;
  }

  .register-form input[type="password"] {
    font-size: 1em;
  }

  .register-form input[type="submit"] {
    font-size: 1em;
  }

  .header .basic-top h1 {
    letter-spacing: 50px;
  }
}

@media (max-width: 640px) {
  .mail-image {
    float: none;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .mail-form {
    float: none;
    width: 91%;
    margin-top: 1em;
  }

  .mail-form input[type="text"] {
    background: url(../images/user.png) no-repeat 455px 13px #eee;
  }

  .mail-form input[type="password"] {
    background: url(../images/lock.png) no-repeat 455px 13px #eee;
  }

  .mail-image h2 {
    font-size: 1.3em;
  }

  .mail-form a p {
    font-size: .9em;
  }

  .header {
    margin-top: 3em;
  }

  .header .basic-top h1 {
    letter-spacing: 10px;
  }

  /**
     * Buttons
     */

  .button-large {
    padding: 10px 75px;
    background: white;
    border: solid 1px #51524c;
    color: #51524c;
    font-size: 1.275em;
    font-weight: bold;
    transition: ease 2s;
  }

  .button-large:hover {
    padding: 10px 75px;
    background: #51524c;
    border: solid 1px white;
    color: white;
    font-size: 1.275em;
    font-weight: bold;
    transition: ease 2s;
  }

  .button-middle {
    padding: 8px 35px;
    background: #333736;
    border: solid 1px #c5c7c9;
    color: #c5c7c9;
    font-size: 0.825em;
    font-weight: bold;
    transition: ease 2s;
  }

  .button-middle:hover {
    padding: 8px 35px;
    background: #c5c7c9;
    border: solid 1px #333736;
    color: #333736;
    font-size: 0.825em;
    font-weight: bold;
    transition: ease 2s;
  }
}

@media (max-width: 599px) {
  a.custom-label {
    font-size: .75em;
  }

  .register-form input[type="text"] {
    font-size: .75em;
  }

  .register-form input[type="password"] {
    font-size: .75em;
  }

  .register-form input[type="submit"] {
    font-size: .75em;
  }
}

@media (max-width: 525px) {
  a.custom-label {
    font-size: .65em;
  }

  .register-form input[type="text"] {
    font-size: .65em;
  }

  .register-form input[type="password"] {
    font-size: .65em;
  }

  .register-form input[type="submit"] {
    font-size: .65em;
  }
}

@media (max-width: 482px) {
  .mail-form {
    float: none;
    width: 85%;
    margin-top: 1em;
    padding: 2em 3em 2em 2em;
  }

  .header {
    margin-top: 2em;
  }

  .mail-section {
    width: 68%;
    margin: 2em auto 0;
    padding: 2em 3em 3em 1em;
  }

  .mail-image h3 {
    font-size: 1em;
  }

  .header h1 {
    font-size: 2em;
  }

  .mail-form input[type="submit"] {
    font-size: 1.05em;
    width: 44%;
  }

  .mail-form input[type="text"] {
    background: url(../images/user.png) no-repeat 260px 13px #eee;
  }

  .mail-form input[type="password"] {
    background: url(../images/lock.png) no-repeat 260px 13px #eee;
  }

  /**
     * Buttons
     */

  .button-large {
    padding: 10px 45px;
    background: white;
    border: solid 1px #51524c;
    color: #51524c;
    font-size: 1.275em;
    font-weight: bold;
    transition: ease 2s;
  }

  .button-large:hover {
    padding: 10px 45px;
    background: #51524c;
    border: solid 1px white;
    color: white;
    font-size: 1.275em;
    font-weight: bold;
    transition: ease 2s;
  }

  .button-middle {
    padding: 8px 35px;
    background: #333736;
    border: solid 1px #c5c7c9;
    color: #c5c7c9;
    font-size: 0.825em;
    font-weight: bold;
    transition: ease 2s;
  }

  .button-middle:hover {
    padding: 8px 35px;
    background: #c5c7c9;
    border: solid 1px #333736;
    color: #333736;
    font-size: 0.825em;
    font-weight: bold;
    transition: ease 2s;
  }
}

@media (max-width: 405px) {
  /**
     * Buttons
     */

  .button-large {
    padding: 10px 15px;
    background: white;
    border: solid 1px #51524c;
    color: #51524c;
    font-size: 1.275em;
    font-weight: bold;
    transition: ease 2s;
  }

  .button-large:hover {
    padding: 10px 15px;
    background: #51524c;
    border: solid 1px white;
    color: white;
    font-size: 1.275em;
    font-weight: bold;
    transition: ease 2s;
  }

  .button-middle {
    padding: 8px 15px;
    background: #333736;
    border: solid 1px #c5c7c9;
    color: #c5c7c9;
    font-size: 0.825em;
    font-weight: bold;
    transition: ease 2s;
  }

  .button-middle:hover {
    padding: 8px 15px;
    background: #c5c7c9;
    border: solid 1px #333736;
    color: #333736;
    font-size: 0.825em;
    font-weight: bold;
    transition: ease 2s;
  }
}

@media (max-width: 320px) {
  .mail-section {
    width: 78%;
    margin: 2em auto 0;
    padding: 2em 2em 2em 1em;
  }

  .mail-form input[type="text"],
  .mail-form input[type="password"] {
    font-size: .9em;
  }

  .header h1 {
    font-size: 1.8em;
  }

  .mail-form {
    float: none;
    width: 87%;
    margin-top: 1em;
    padding: 2em 2em 2em 1em;
  }

  .footer {
    text-align: center;
    padding: 2em 0;
  }
}